#entry-body {
  line-height: 2em;
}

body {
  background-color: aquamarine;
}

#posted-entry {
  display: none;
  max-width: 50%;
  padding: 5pt;
}

#posted-entry-title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}